button{
    
    width: 200px;
    height: 200px;
    
}
.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 600px;
    margin: auto;
}
button:hover{
    background: #fff;
    box-shadow: 0 0 80px #fff, 0 0 80px #fff, 0 0 80px #fff;
    
}
